<!DOCTYPE html>
<head>
    <meta charset="utf-8">

    {% block title %}{% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="http://bootstrap-4.ru/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    {% block style %}{% endblock %}

</head>
<div>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" href="{{ path('main_page') }}">Skills
                tester</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="p-2 text-dark" href="{{ path('admin_page') }}">Admin page</a>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="p-2 text-dark" href="{{ path('logout') }}">Log out</a>
            {% else %}
                <a class="p-2 text-dark" name="log in" href="{{ path('login') }}">Log in</a>
            {% endif %}
            <a class="p-2 text-dark" href="#">About</a>
        </nav>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% else %}
            <a class="btn btn-outline-primary" href="{{ path('register') }}">Sign up</a>
        {% endif %}
    </div>
</div>


{% block body %}{% endblock %}
{% block footer %}{% endblock %}


</html>

{% block javascripts %}{% endblock %}